@font-face {
    font-family: Chivo_Mono;
    src: url(../Fonts/Chivo_Mono/ChivoMono-VariableFont_wght.ttf);
}

body{
   
    background-image:url(../Imagenes/Mockup4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 50px 0;
    color: aliceblue;
}

.titulo-principal{
    padding-left: 30px;
    font-family: Chivo_Mono;
    color: aliceblue;
}

.titulo-centralizado {
    text-align:center;
    padding: 0px 0px 0px 1300px;
    margin-top: 100px;
    font-family: Chivo_Mono;
    color: aliceblue;
}
.habilidades {
    text-align:center;
   /* padding: 0px 0px 0px 950px;*/
    margin-top: 5px;
    font-family: Chivo_Mono;
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 5px;
}
.items {
    color: aliceblue;
    font-family: Chivo_Mono;
    text-align:right;
}

/* #photos {

    width: 850px;
    height: 850px;
    margin-left: 1000px;
    margin-right: 30px;
    margin-top: 30px;
}

#photos1 {

    width: 850px;
    height: 850px;
    margin-right: 1000px;
    margin-left: 30px;
}*/

