@font-face {
    font-family: Chivo_Mono;
    src: url(../Fonts/Chivo_Mono/ChivoMono-VariableFont_wght.ttf);
}

body{
    background-color: #1D1F43;
}

header {
    background-color: #1D1F43;
    padding: 50px 0;
    color: aliceblue;
}

.titulo-principal{
    padding-left: 30px;
    font-family: Chivo_Mono;
    color: aliceblue;
}

.titulo-centralizado {
    text-align:center;
    padding: 0px 0px 0px 1300px;
    margin-top: 100px;
    font-family: Chivo_Mono;
    color: aliceblue;
}
.habilidades {
    text-align:center;
    padding: 0px 0px 0px 1320px;
    margin-top: 10px;
    font-family: Chivo_Mono;
    color: aliceblue;
    font-size: 16px;
}
.items {
    color: aliceblue;
    font-family: Chivo_Mono;
    text-align:right;
}

#photos {

    width: 800px;
    height: 800px;
    margin-left: 1000px;
    margin-top: 30px;
}